.topNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user {
    margin-right: 0.5rem;
}

.user a {
    color: #000000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}