@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}

@media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
}

@media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
}

@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.leftSide {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightSide {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
 }

 .form {
    margin-top: 1.5rem;
    width: 75%;
 }

 .label {
    color: #8c8c8c;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
 }

 .loginButton {
    width: 100%;
    margin-top: 2rem;
    font-weight: 500;
 }

 .regisButton {
    width: 75%;
    font-weight: 500;
    color: #1677ff;
 }

 .line{
    width: 100%;
    border-bottom: 1px solid black;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spin {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}